.CFUserTextEncoding
.DS_Store
.Trash
.android
.aws
.babel.json
.bash_history
.bash_sessions
.bosh
.boto
.cache
.composer
.config
.cups
.docker
.dvdcss
.erlang.cookie
.flow-typed
.gem
.ghc
.ivy2
.lein
.local
.m2
.netrc
.nix-channels
.nix-defexpr
.nix-profile
.node-gyp
.node_repl_history
.now
.npm
.nvm
.oracle_jre_usage
.papertrail.yml
.php_history
.phpls
.psql_history
.python_history
.sbt
.ssh
.stack
.subversion
.tooling
.vim
.viminfo
.wget-hsts
.yarnrc
.zoomus
Applications
Audiobooks
Desktop
Documents
Downloads
Dynamo
Google Drive
Library
MCS*
Movies
Music
Pictures
Public
backup.ab
ce
conf.d
dappy-pgps
dev_blue_template.json
globals.sql
helloworld
mm
package.xml
prog
psc-package
shared-local-instance.db
t.png
xdebug-2.6.1

#.bash_profile#


.vscode/extensions/

truly/

.gnupg

.mysql_history
